/* GENERICOS */

body {
    margin: 0%;
}

li {
    list-style-type: none;
    display: inline;
}

a {
    text-decoration: none;
}

body {
    background-color: whitesmoke;
    background: radial-gradient(whitesmoke, #F8F9F9);
}

/*ENCABEZADO*/

.textoEncabezado h1 {
    font-size: 40px;
    margin-top: 10px;
}

.textoEncabezado h2 {
    margin-bottom: 5px;
}

.textoEncabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    grid-area: nombre;
}

.encabezado {
    display: grid;
    grid-template-areas: 
    "logo"
    "nombre"
    "navegador";
    color: beige;
    background: linear-gradient(#146b47, #74a892);
}

.navegador {
    display: flex;
    justify-content: center;
    grid-area: navegador;
}

.logo {
    display: flex;
    justify-content: center;
    grid-area: logo;
    align-items: center;
}

.logo img {
    height: 250px;
}

/* MODO TABLET Y PANTALLA */

@media (min-width: 768px) {

.encabezado {
    display: grid;
    grid-template-areas: 
    "logo logo nombre nombre"
    "logo logo navegador navegador";
    column-gap: 5%;
}

.logo img {
    height: 300px;
}

.textoEncabezado h1 {
    font-size: 80px;
}
}


/* PIE DE PAGINA */

footer {
    background: linear-gradient(#146b47, #74a892);
}

.redes {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.redes li img {
    height: 30px;
    margin: 15px;
}

/* MAIN INDEX */

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.carousel {
    width: 60%;
    display: flex;
    justify-content: center;
}

.novedades {
    margin: 5px 10% 10px 10%;
    display: grid;
    grid-template-areas: 
    "titnov"
    "nove1" 
    "nove2";
}

.nove1 {
    grid-area: nove1;
    border: black 2px solid;
    border-radius: 6px;
    padding: 10px;
}

.nove2 {
    grid-area: nove2;
    border: black 2px solid;
    border-radius: 6px;
    padding: 10px;
}

.novedades h2 {
    grid-area: titnov;
}

/* MODO TABLET Y PANTALLA */
@media (min-width: 768px) {
    .novedades {
        grid-template-areas: 
        "titnov titnov"
        "nove1 nove2";
        column-gap: 10px;
    }
}

/* MAIN ALUMNO */

.alumno {
    display: flex;
    flex-direction: column;
    margin: 10px 100px 15px 100px;
}

.niveles img {
    height: 100px;
    margin: 5px;
}

.niveles {
    display: flex;
    border: 3px black solid;
    border-radius: 4px;
    margin: 5px 0px 5px 0px;
    align-items: center;
}

.impar {
    display: flex;
    flex-direction: row-reverse;
}

.niveles div {
    margin: 5px;
}

/* MAIN HISTORIA */

.historia {
    display: grid;
    grid-template-areas: 
    "tithis"
    "primera"
    "segunda";
    margin: 10px 10% 15px 10%;
}

.tithis {
    grid-area: tithis;
}

.imagenUno {
    display: none;
    width: 80%;
    margin: auto;
}

.imagenDos {
    display: none;
    width: 80%;
}

.primera p {
    grid-area: primera;
}

.segunda p {
    grid-area: segunda;
}

.imagenUno {
    grid-area: imgUno;
}

.imagenDos {
    grid-area: imgDos;
}

/* MODO TABLET */

@media (min-width: 768px) {
    .historia {
        grid-template-areas:
        "tithis"
        "primera"
        "imgUno"
        "segunda";
    }
    .imagenUno {
        display: block;
        justify-self: center;
    }
}

/* MODO PANTALLA */

@media (min-width: 1024px) {
    .historia {
        grid-template-areas:
        "tithis"
        "secUno" 
        "secDos";
    }

    .seccion img {
        width: 30%;
        margin: 0 10px 0 10px;
    }
    .imagenDos {
        display: block;
    }
    .secUno {
        grid-area: secUno;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .secDos {
        grid-area: secDos;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .segunda p {
        text-align: right;
    }

}

/* MAIN MULTIMEDIA */

.multimedia {
    display: flex;
    flex-direction: column;
    margin: 10px 100px 15px 100px;
}

.fotos img {
    width: 270px;
    margin: 6px;
}

.fotos {
    display: flex;
    flex-flow: row wrap;
    border: 3px black solid;
    border-radius: 4px;
    justify-content: center;
}

.videos iframe {
    width: 380px;
}

/* MAIN CONTACTO */

.contacto {
    display: flex;
    flex-direction: column;
    margin: 10px 100px 15px 100px;
}

.mensaje div img {
    height: 30px;
    margin-right: 10px;
}

.mensaje {
    display: flex;
    justify-content: space-between;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}

.formulario div {
    margin: 3px;
}

.correo label {
    margin-right: 6px;
}

.botones {
    display: flex;
    justify-content: space-evenly;
}

.contacto div iframe {
    width: 99%;
}

.directo div {
    margin-left: 100px;
}

.whatsapp {
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: large;
}

.email {
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: large;
}